fastapi
uvicorn[standard]
gunicorn
pandas
numpy
requests
python-multipart
python-dotenv
supabase
pytest
scikit-learn
feature-engine
pyjanitor
missingno
matplotlib
plotly
altair
ydata-profiling
pyod
google-generativeai
fpdf2
openpyxl
xlsxwriter
seaborn
